<div data-role="page" id="container"><!-- App container -->
  	<header data-role="header" id="appheader"><!-- App header -->
    	<h1>ASK APP</h1>
  	</header>
  	<div class="ui-content"><!-- App content -->
		<!-- link to lecture page -->
    	{{#link-to 'lectures'}}See Lectures{{/link-to}}
  	</div>
</div>