html, body {
  	margin: 20px;
}
.ui-content-a {
	text-decoration:none !important;/** no link styling **/
}
.ui-content {
	padding:0px;/** no border space **/
	color:#FFF !important;/** white text **/
	text-shadow:0 0 0 !important;/** no text shadow **/
	font-weight:100 !important;/** thin text **/
}
.ui-listview>li a {
	background-color:transparent !important;/** no background color on link buttons **/
	border:none !important;/** no border **/
	text-shadow:0 0 0 !important; /** no text shadow **/
	font-weight:100 !important;/** thin text **/
	font-size:24px !important;/** text size increase **/
	color:#FFF !important;/** white text **/
	border-bottom:thin solid #FD6064 !important;/** thin red border underneath **/
}
.ui-listview>li a:hover {
	background-color:#FD5357 !important;/** light red hover over link buttons **/
	color:#FFF !important;/** white text **/
}
.ui-corner-all {
	border-radius: 0px;/** sharp borders **/
}
ul-all {
	color:#FFF;/** white text **/
}
h1 {
	color:#FFF;/** white text **/
}
#container {
	background-color:#000;/** black background **/
	background:rgb(2,2,2);/** gradient **/ 
	background:-moz-linear-gradient(top,  rgb(2,2,2) 0%, rgb(38,43,50) 100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(2,2,2)), color-stop(100%,rgb(38,43,50)));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  rgb(2,2,2) 0%,rgb(38,43,50) 100%);/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  rgb(2,2,2) 0%,rgb(38,43,50) 100%);/* Opera 11.10+ */
	background:-ms-linear-gradient(top,  rgb(2,2,2) 0%,rgb(38,43,50) 100%);/* IE10+ */
}
#appheader {
	background-color:#000;/** black background **/
	border-bottom:medium solid #FD6064;/** medium light red border underneath **/
	text-shadow:0 0 0 !important;/** no text shadow **/
	font-weight:lighter !important;/** thin text **/
	font-size:30px !important;/** header size increase **/
}
#addbutton {
	background-color:#000;/** black background **/
	color:#FFF;/** white text **/
	top:-5px;left:0;/** display in top right corner**/
	width:50px;/** new width **/
	border:none;/** no border **/
	text-shadow:0 0 0 !important;/** no text shadow **/
	font-weight:100 !important;/** thin text **/
	font-size:24px !important;/** text increase in size **/
}
#addbutton:hover {
	background-color:#666;/** grey background **/
}
